<% if (page.comments) { %>
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
  clientID: '<%- config.gitalk.client_id %>',
  clientSecret: '<%- config.gitalk.client_secret %>',
  repo: '<%- config.gitalk.repo %>',
  owner: '<%- config.gitalk.owner %>',
  admin: ['<%- config.gitalk.admin %>'],
  id: '<%- page.path %>',
  distractionFreeMode: <%- config.gitalk.distraction_free_mode %>
});
gitalk.render('gitalk-container');
</script>
<% } %>
